# -------------
# General
# -------------
.DS_Store
Thumbs.db

# -------------
# Environment variables
# -------------
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

.env.dev
# -------------
# Backend (Python/FastAPI)
# -------------
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/
.pytest_cache/
.coverage
htmlcov/
*.log
*.sqlite3
*.mp3
*.wav
*.webm

# -------------
# Frontend (Node.js/React)
# -------------
frontend/node_modules/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
dist/
coverage/
